.modal-cadastro {
  position: fixed;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1000;
}

.modal_c{
  background-color: #710634;
  border-radius: 0 0 0 40px;
  width: 13%;
  height: 50%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modal-arruma_c{
  /* border: 2px solid; */
  width: 100%;
  height: 90%;
  color: #f9fafc;
  display: flex;
  justify-content: center;
  
  
  /* justify-content: flex-end; */
}
.texts_principal_modal_c{
  /* border: 2px solid yellow; */
  width: 92%;
  display: flex;
  flex-direction: column;
  
}
.titulo_modal_cadastro{
  /* border: 2px solid; */
  width: 100%;
  height: 25%;
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120%;
  padding: 10px;

}
.links_modal_cadastro{
  /* border: 2px solid; */
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  gap: 5px;
  justify-content: center;
}
.link_modal_c{
  text-align: left;
  color: #e6ecf0;
  text-decoration: none;

}
.link_modal_c:hover{

  color: #a8cae0;

}

.div_do_xzinho_c{
  /* border: 2px solid pink; */
  width: 7%;
  display: flex;
  justify-content: center;
  padding: 1%;
 

}

.x_arruma_c{
  /* border: 2px solid; */
  color: #f9fafc;
  background-color: #02020200;
  border: none;
  width: 100%;
  height: 8%;
}
