.titulo-cadastro-interesse-dois{
  color: #710634;
  display: flex;
  justify-content: center;
}
.cadastro-dois-container-interesse {
  display: flex;
  height: 100vh;
  font-family: 'Inknut Antiqua', serif;
}

.container-elements-interesse-dois{
  /* border: 2px solid; */
  width: 70%;
  height: 55%;
  
}
.cadastro-dois-form-interesse {
  /* border: 2px solid; */
  flex: 1;
  padding: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.cadastro-dois-form-interesse label {
  /* border: 2px solid; */
  color: #710634;
  font-size: 16px;
  font-family: 'Inknut Antiqua', serif;
  display: flex;
  width: 100%;
  margin: 2%;
}
.select-pergunta-interesse-dois{
  /* border: 1px solid #ccc; */
  outline: none;
}
.cadastro-dois-form-interesse input {
  /* border: 2px solid; */
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Inknut Antiqua', serif;
  
}

.btn-concluir-interesse {
  /* border: 2px solid; */
  margin-top: 20px;
  width: 100%;
  padding: 12px 0;
  background-color: #0D293F;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Inknut Antiqua', serif;
  
}

.container-link-interesse{
  /* border: 2px solid; */
  text-decoration: none;
  font-family: 'Inknut Antiqua', serif;
  font-size: 20px;
  color: #ffffff;
  
}

.cadastro-dois-imagem-interesse {
  /* border: 2px solid; */
  width: 50%;
  background-color: #0D293F;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cadastro-dois-imagem-interesse img {
  /* border: 2px solid; */
  max-width: 80%;
  height: auto;
  
}

.cadastro-dois-form-interesse select {
  /* border: 2px solid; */
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  background-color: white;
  font-family: 'Inknut Antiqua', serif;
  
}
