.div-principal-interesse{
    background-color: #FFFEFE;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.div-logo-interesse{
    width: 50%;
}
.img-logo-interesse{
    width: 100%;
    height: 100vh;
    object-fit: cover; 

}
.inputs-cadastro-interesse{
    width: 50%;
    background-color: aqua;
}
