.container-all-cadastro-funcionarios{
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.div-imagem-cadastro-funcionarios{
    
    /* border: solid green; */
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.div-cadastro1-funcionario{
  /* border: 2px solid gold; */
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-conteudo-cadastro-advogado{

    /* border: solid gold; */
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
}
.imagem-cadastro-advogado{
    height: 100%;
    width: 100%;
   
}
.div-inputs-cadastro-advogado{
  /* border: 2px solid #55a02a; */
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h2-cadastro-funcionarios{

  width: 100%;
  height: 20%;
  color: #B5346C;
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 185%;
  display: flex;
  justify-content: center;
}
.container-cadastro-funcionario{
  /* border: 2px solid #55a02a; */
  width: 60%;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-inputs-cadastro-advogado p{
  color: #B5346C;
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 125%;
}
/*///////////////////////////////////////////Inputs//////////////////////////////////////////////////////////////////*/
.inputs-teste-cadastro-funcionarios-um{

  border-radius: 10px;
  width: 100%;
  height: 55%;
  padding: 2%;
}
.inputs-teste-cadastro-funcionarios-um input{

  border-radius: 10px;
  width: 100%;
  height: 74%;
  padding: 2%;
}
.botao-termos-cadastro-funcionarios{
  width: 100%;
  height: 30%;
}
.input-checkbox-li-termos{
  /* border: 2px solid #55a02a; */
  width: 100%;
    height: 33.5%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.teste-cadastro-advogado{
    /*border: solid red;*/
    height: 80%;
    margin-top: 10%; 
}
/*///////////////////////////buttons//////////////////////////////////////////*/

.button-cadastro-advogado {
  background-color: #0D293F;
  color: #FFFEFE;
  width: 50%;
  height: 70%;
  border-radius: 10px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
  
.button-cadastro-advogado:hover {
  background-color: #B5346C;
  box-shadow: 0px 15px 20px #22557c;
  color: #fff;
  transform: translateY(-7px);
}

.button-cadastro-advogado:active {
  transform: translateY(-1px);
}
.div-button-cadastro-ad{
  /* border: 2px solid #55a02a; */
  width: 100%;
    height: 33.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ja-possui-login-cadastro-fun{
  /* border: 2px solid #55a02a; */
  width: 100%;
    height: 33.5%;
    color: #0D293F;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 80%;
}
  
/*SS DO NEGOCIO QUE NÃO FUNCIONA */
  /* .input-erro {
    border: 8px solid red;
    outline: none;
    background-color: #ffe5e5;
  }
   *//*kkkkkkkkkkkkkkkkk*/