.container-inicial-tea-real{
/* border: solid black; */
height: 100vh;
}

/*/////////////////Navbar Tea///////////////*/

.navbar-tea-inicial-real{
    /* border: solid purple; */
    height: 18%;
    display: flex;
}
.img-navbar-tea-inicial-real{
   /* border: solid blue; */
   display: flex; 
   width: 20%;
   align-items: center;
   justify-content: center;
}
.button-tea-inicial-real{

    /* border: solid red; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11%;
    margin-left: 2.5%;
}
.butao-custom-tea-inicial-real {
    background-color: #710634;
    color: #FFFEFE;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .butao-custom-tea-inicial-real:hover::before {
    transform: scaleX(1);
  }
  .butao-custom-tea-inicial-real-content {
    position: relative;
    z-index: 1;
  }

  /*///////////Tela normal/////////*/

  .container-pagina-inicial-tea-real{
    /* border: solid green; */
    height: 82%;
    display: flex;
  }

  .div-text-usuario-real{

    /* border: solid hotpink; */
    width: 50%;
    display: flex;
    justify-content: center;
    
  }
  .div-foto-perfil-e-butao-real{
    /* border: solid red; */
    width: 50%;
  }

  /*div paragrafo*/
  .div-inputs-tea-o-real{
    /* border: solid blue; */
    height: 50%;
    width: 70%;
    margin-top: 17%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20%;

  }
 .paragrafo-lindo-do-tela-tea-real{
  font-size: 25px;
  color: black;
  margin-left: 19%;
 }
 .paragrafo-lindo-do-tela-tea-dois{
  font-size: 25px;
  margin-top: 5%;
 }
 /*/////////////Imagem e botão////////////////*/

.imagem-container-perfil-tea-real{
  /* border: solid violet; */
  /* height: 60%; */
  display: flex;
  justify-content: center;
  margin-top: 12%;
  margin-right: 10%;
}
.imagem-preview-ver-tea-real{

  width: 40%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: border 0.3s ease;
  border-radius: 0px 0px 0px 101px;
  border: solid #710634;
}

/*Botão ver perfil*/

.botao-ver-perfil-tea-real{

 /* border: solid lawngreen; */
 height: 20%;
 margin: 5%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 10%;
}
.perfil-tea-real{ 
  background-color: #710634;
  color: #FFFEFE;
  width: 25%;
  height: 34%;
  border-radius: 10px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 402;
  font-style: normal;
  font-size: 110%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 17%;
}

/*Parte do chat css*/

.respostas-container-chat-tea-real{
/* border: solid gold; */
height: 93vh;
margin: 4%;
}
.linha-divisoria-real{
background-color: black;
border: solid black;
width: 80%;
border-radius: 20px;
margin-left: 10%;
}
.mensagens-chat-tea-real{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  font-size: 30px;
}
.respostas-chat-tea-real{
  /* border: solid blue; */
  height: 88%;
  width: 80%;
  margin-left: 10%;
  display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}
/*//////////////Mensagens////////////////////*/
.linha-mensagens-um-real{
  /* border: solid chartreuse; */
  height: 50%;
  width: 50%;
}
.linha-mensagens-dois-real{

  /* border: solid rgb(82, 95, 69); */
  height: 50%;
  width: 50%;
}
.linha-mensagens-treis-real{
  /* border: solid rgb(102, 36, 177); */
  height: 50%;
  width: 50%;
}
.linha-mensagens-quatro-real{
  /* border: solid rgb(211, 35, 28); */
  height: 50%;
  width: 50%;
}
/*//////////////////////////////////Border das mensagens///////////////////////////////////////*/
.border-text-tea-one-real{
border: solid #710634;
height: 80%;
margin-top: 5%;
border-radius: 0px 20px 20px 83px;
width: 79%;
margin-left: 11%;
}
.border-text-tea-dois-real{

  border: solid #710634;
height: 80%;
margin-top: 5%;
border-radius: 0px 20px 20px 83px;
width: 79%;
margin-left: 11%;
}
.border-text-tea-tres-real{

 border: solid #710634;
 height: 80%;
 margin-top: 5%;
 border-radius: 0px 20px 20px 83px;
 width: 79%;
 margin-left: 11%;
}
.border-text-tea-quatro-real{

  border: solid #710634;
 height: 80%;
 margin-top: 5%;
 border-radius: 0px 20px 20px 83px;
 width: 79%;
 margin-left: 11%;
}
/*/////////////////Mensagens Não vistas TEA////////////////////////*/

.mensagem-tea-inicial-real{

  /* border: solid rgb(24, 97, 24); */
  height: 41%;
  margin-top: 15%;
  background-color: #982F5C;
  width: 77%;
  margin-left: 11%;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
}
.teste-mensagens-tea-real{
  /* border: solid aqua; */
  height: 73%;
  width: 20%;
  margin-left: 5%;
  border-radius: 200px;
}
.teste-mensagens-tea-real img{
  height: 100%;
  width: 100%;
  border-radius: 200px;
}
.inputs-receber-cadas-tea-real{
  /* border: solid maroon; */
  margin-left: 4%;
  width: 55%;
  height: 90%;
}
.inputs-receber-cadas-tea-real input {
  
  background-color: #982F5C;
  border: none;
  cursor: none;
  color: #FFFEFE;
  font-size: 18px;
  margin-top: 8.5%;
  width: 100%;
}