.select-formulario-responsavel{
    width: 100%;
    height: 11%;
    border-radius: 9px;
    border: 1px solid #ccc;
}
.inputs_cadastro{
    /* border: 2px solid; */
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}
.idade-input-responsavel{
    /* border: 2px solid; */
    height: 17%;
}