

/* Entrada da lading page */


.conteiner-lading{
    height: 100vh;
    /* border: 3px solid rgb(23, 7, 243); */
    
}

.lading-entrada{
    /* border: 3px solid rgb(23, 7, 243); */
    width: 100%;
    height: 100%;
}

.logo-lading{
    /* border: 2px solid rgb(23, 7, 243); */
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.button-lading1{
    /* border: 2px solid; */
    width: 98%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.button-navbar-TelaIFuncionario{
    border: 2px solid;
    border-radius: 10px;
    background-color: #710634;
    color: #f3f0ed;
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    margin: 0.4%;
}
.button-navbar-TelaIFuncionario:hover {
    background-color: #073963;
    color: #f3f0ed; 
    cursor: pointer; 
}
.container-info-especialista{
    border: 2px solid rgb(23, 7, 243);
    width: 100%;
    height: 90%;
    display: flex;

}

.descricao-perfil{
    border: 4px solid rgba(48, 204, 196, 0.719);
    width: 50%;
    height: 100%; 
}

.descricao{
    border: 4px solid rgba(189, 224, 34, 0.719);
    width: 100%;
    height: 50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.conteiner-perfil{
    border: 4px solid rgba(34, 224, 129, 0.719);
    width: 50%;
    height: 100%;    
}
.div-foto-perfilfoto-perfil{
    border: 4px solid rgba(189, 224, 34, 0.719);
    width: 100%;
    height: 80% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto-perfilfoto-perfil{
    border: 4px solid rgba(189, 224, 34, 0.719);
    width: 100%;
    height: 80% ;
    display: flex;
    justify-content: center;
    align-items: center;
}



.div-botao-ver-perfil{
    border: 4px solid rgba(45, 190, 105, 0.719);
    width: 100%;
    height: 20%;
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao-ver-perfil{
    border: 4px solid rgba(230, 18, 230, 0.719);
    /* width: 100%;
    height: 20%  */
    /* background-color: aqua;  */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}


/* barra que separra as divs de mensagens e o perfil do especialista*/

.barra-de-separacao{
    border: 2px solid rgb(7, 243, 27);
    width: 100%;
    height: 9%;
}


/* aba chegadas de mensagens na tela inicial do funcionario */

.chegada-de-mensagens{
    border: 2px solid rgb(243, 7, 223);   
    width: 100%;
    height: 85%;
}




/* Aba de perguntas */

.aba-de-perguntas{
    /* border: 2px solid rgb(23, 7, 243); */
    background-color: #0D293F;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.conteiner-abas{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.titulo-aba{
    /* border: 2px solid rgb(23, 7, 243); */
    color: #F9F4EE;
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 380%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perguntas-um-dois{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 100%;
    height: 70%;
    display: flex;
}
.perguntas-um{
    /* border: 2px solid rgb(23, 7, 243); */
    color: #e7e7e7;
    width: 50%;
    height: 95%;  
    margin: 1%;
    display: flex;
    align-items: center; 
    flex-direction: column;
    
}
.perguntas-dois{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 50%;
    height: 95%; 
    margin: 1%;
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.perguntas{
    width: 65%;
    height: 8%;
    margin: 4%;
    border-radius: 10px;
    border: 2.5px solid #a21351;
}
.text-pergunta-dois{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 70%;
    margin: 9%;
    color: #F9F4EE;
}


/* Localização do site */

.maps{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 100%;
    height: 40%;
}
.div-maps{

    width: 100%;
    height: 100%;
    margin-top: 0px
}



/* Rodapé do site */

.div-rodape{
    /* border: 2px solid rgb(23, 7, 243); */
    background-color: #710634;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}
.container-rodape-logo{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 29%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 2%;
    padding-left: 5%;
}
.logo-rodape{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 60%;
    height: 87%;
    
}
.endereco-rodape{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 28.3%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.element-endereco-rodape{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 80%;
    color: white;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}
.contato-rodape{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 22%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.element-contato-rodape{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 33%;
    color: white;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    display: flex;
    justify-content: end;
}
.redes-sociais-rodape{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.Simbolo-insta-linkedin{
    /* border: 2px solid rgb(23, 7, 243); */
    height: 80%;
    width: 100%;
}
.Simbolos-redes-rodape{
    /* border: 2px solid rgb(23, 7, 243); */
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: space-around;
}


/* Estilizando a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 5px; /* Largura mais fina */
  }
  ::-webkit-scrollbar-thumb {
    background: #a21351;
    border-radius: 8px; /* Aumentando o raio da borda */
    padding: 1px; /* Adicionando preenchimento */
    height: 10px;
    
  }
  /* Estilizando a trilha da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: #e7e7e7; /* Cinza claro para a trilha */
  }
  
  /* Estilizando o polegar da barra de rolagem ao passar o mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #7e0d3e; /* Cinza mais escuro ao passar o mouse */
  }