.modal-overlay-adicionar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.elements-adicionar-estrategias{
    background: rgb(255, 255, 255);
    border-radius: 8px;
    width: 40%;
    height: 50%;
    overflow: auto;
}