.container_principal_navbar_estrategias{
    /* border: 2px solid; */
    width: 100%;
    height: 11%;
}
.container_navbar_estrategias{
    background-color: #0D293F;
    /* border: 2px solid; */
    width: 100%;
    height: 100%;
    display: flex;
}
.container_logo_navbar_estrategias{
    /* border: 2px solid; */
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.logo_navbar_estrategias{
    /* border: 2px solid; */
    width: 6;
    height: 120%;
}
.text_navbar_estrategias{
    /* border: 2px solid; */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.estilo_text_navbar_estrategias{
    color: white;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 130%;
}
.icones_navbar_estrategias{
    /* border: 2px solid; */
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.div-maisinho-estrategias{
    /* border: 2px solid; */
    width: 3%;
    height: 42%;
}
.botao-modal-mais-estrategias{
    /* border: 2px solid purple; */
    background-color: #0D293F;
    width: 100%;
    height: 100%;
    border: none;
}
.img-mais-estrategias{
    /* border: 2px solid; */
    width: 100%;
    height: 100%;
}