.container_principal_perfil_interessados{
    width: 100vw;
    height: 100vh;
}
.div_botao_voltar{
    /* border: 2px solid; */
    width: 100%;
    height: 10%;
}
.organizacao_elementos_perfil{
    /* border: 2px solid; */
    width: 100%;
    height: 90%;
    display: flex;
}
.div_informacao_perfil{
    /* border: 2px solid; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.foto_perfil_interessados{
    /* border: 2px solid; */
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
}
.foto_suyane_teste{
    width: 65%;
    height: 90%;
    border-radius: 0 0 0 60px;
}
.info_elements{
    /* border: 2px solid; */
    width: 50%;
    height: 30%;
}
.nome_perfil_interessados{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 180%;
    color: #0D293F;
}
.infos_perfil_interessados{
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    color: #0D293F;
}
.destaque_respostas_perfil{
    color: #ca115e;
}
.div_anotacoes_perfil{
    /* border: 2px solid; */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.elements_anotacoes_perfil{
    /* border: 2px solid; */
    width: 60%;
    height: 80%; 
    display: flex;
    justify-content: center;

}
.element1_anotacoes{
    background-color: #295D88;
    /* border: 2px solid; */
    border-radius: 10px;
    width: 70%;
    height: 80%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 3.8%;
}
.titulo_anotacoes{
    color: rgb(240, 243, 248);
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 160%;
    margin: 4%;
}
.inputs_anotacoes_perfil{
    background-color: #133e61;
    width: 80%;
    height: 8%;
    border-radius: 10px;
    border: none;
    padding: 2%;
}
.botao_salvar_alteracoes{
    background-color: #133e61;
    border: none;
    color: rgb(240, 243, 248);
    border-radius: 10px;
    width: 50%;
    height: 6%;
}