.swiper-container-funcionarios {
  width: 99vw;
  background-color: #F9F4EE;
  height: 86vh;
}

.swiper-container-funcionarios .grupo-funcionarios {
  display: flex;
  gap: 4%;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
  padding: 2%;
}

.swiper-container-funcionarios .elemento-funcionario {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  /* height: 200%; */
}

.swiper-container-funcionarios .foto-profissional-funcionarios {
  width: 55%;
  height: 55%;
  border-radius: 20%;
  object-fit: cover;
  /* border: 3px solid #aaa; */
  margin-bottom: 12px;
}

.swiper-container-funcionarios .h2-nome-funcionarios {
  font-size: 20px;
  margin: 8px 0;
}

.swiper-container-funcionarios .p-descricao-funcionario {
  font-size: 18px;
  line-height: 1.4;
  color: #444;
  /* padding: 0 10px; */
  max-width: 90%;
}
.slider-funcionarios-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  background-color: #F9F4EE;
}

.titulo-funcionarios {
  margin-bottom: 1rem;
  margin: 2%;
}
