.container-all-cadastro-tea{
    /* border: solid rebeccapurple; */
    height: 100vh;
    display: flex;
}
/*////////////////////// divs da imagem e input///////////////////// */
.container-inputs-cadastro-tea{
    /* border: solid firebrick; */
    width: 50%;
}
.imagem-cadastro-tea{
    /* border: solid khaki; */
    width: 50%;
    overflow: hidden;
}
.editar-imagem-cadastro-tea{
    width: 100%;
    height: 100%;
}
/*////////////////////////////////////// Agora o negocios dentro da div container inputs////////////////////////////*/
.titulo-cadastro-tea{
    /* border: solid seagreen; */
    height: 10%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-cadastro-tea p{
    margin-top: 6%;
}
/* ///////////////////////////////inputs///////////////////////////////// */
.inputs-tea-cadastro{
    /* border: solid lawngreen; */
    height: 50%;
    width: 60%;
    margin-top: 11%;
    margin-left: 19%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nome-cadastro-tea{
    color: #B5346C;
    height: 20%;
    width: 70%;
    margin-top: 13%;
}
.nome-cadastro-tea p{
    font-size: 20px;
}
.nome-cadastro-tea input{
    border: solid 2px #0D293F;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}
.email-cadastro-tea{
    color: #B5346C;
    height: 20%;
    width: 70%;
    margin-top: 5%;
}
.email-cadastro-tea p{
    font-size: 20px;
}
.email-cadastro-tea input{
    border: solid 2px #0D293F;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}
.senha-cadastro-tea{
    color: #B5346C;
    height: 20%;
    width: 70%;
    margin-top: 5%;
}
.senha-cadastro-tea p{
    font-size: 20px;
}
.senha-cadastro-tea input{
    border: solid 2px #0D293F;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}
/*///////////////////////////Botão proximo cadastro tea//////////////////////// */
.buton-proximo-cadastro-tea{
    /* border: solid olive; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.google-cadastro-tea{
    /* border: solid lightcoral; */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* //////////////////////////////////////Proximo///////////////////////////////// */
.botão-proximo-tea{
    background-color: #0D293F;
    color: #FFFFFF;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    cursor: pointer;
}
.ja-possui-conta-cadastro-tea{
    display: flex;
    justify-content: center;
    align-items: center;
}
