.container-formulario-tea-all{
    /* border: solid red; */
    height: 100vh;
    display: flex;
}
.inputs-formulario-tea{
/*border: solid green; */
    width: 50%;
}
.imagem-formulario-tea{
/* border: solid black; */
    width: 50%;
    overflow: hidden;
}
/*///////////////////////////////Imagenzinha formulario cadastro//////////////////*/
.img-ajustes-formulario-tea{
    height: 100%;
    width: 100%;
}
/*////////////////////////////Inputs e outros//////////////////////////////////*/ 
.botao-voltar-formu-tea{
    /* border: solid palegreen; */
    height: 14%;
    display: flex;
    align-items: center;
}
.botao-voltar-formu-tea button{
    background-color: #ffffff;
    color: #0D293F;
    width: 15%;
    height: 34%;
    border-radius: 10px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 110%;
    margin-left: 3%;
    border: solid #0D293F;
    cursor: pointer;
}
/*////////////////Agora sim são os inputs///////////////////////////*/
.inputs-cadastro-tea{
    /* border: solid sienna; */
    height: 50%;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*////////////////Sua idade Formulario////////////////////////////*/
.suaidade-input-formulario-tea{
 /* border: solid chocolate; */
    color: #B5346C;
    height: 20%;
    width: 70%;
    margin-top: 5%;
}
.suaidade-input-formulario-tea input{
    border: solid 2px #0D293F;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}
.suaidade-input-formulario-tea p{
    font-size: 20px;
}
/*//////////////////Ano nascimento formulario////////////////////////*/
.anonascimento-formulario-tea{
    /* border: solid gold; */
    color: #B5346C;
    height: 20%;
    width: 70%;
    margin-top: 5%;
}
.anonascimento-formulario-tea input{
    border: solid 2px #0D293F;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}
.anonascimento-formulario-tea p{
    font-size: 20px;
}
/*///////////////////////////Ja foi diagnosticado?/////////////////////////////*/
.diagnostivo-formulario-tea{
    /* border: solid violet; */
    color: #B5346C;
    height: 20%;
    width: 70%;
    margin-top: 5%;
}
.diagnostivo-formulario-tea input{
    border: solid 2px #0D293F;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}
.diagnostivo-formulario-tea p {
    font-size: 20px;
}
/*///////////////////////Se ja foi diagnisticado (DATA)////////////////////////////*/
.se-sim-formulario-tea{
    /* border: solid hotpink; */
    color: #B5346C;
    height: 20%;
    width: 70%;
    margin-top: 5%;
}
.se-sim-formulario-tea input{
    border: solid 2px #0D293F;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}
.se-sim-formulario-tea p{
     font-size: 20px;
}

/*//////////////////////////////////////Butão proximo /////////////////////////////////////////////////////////////*/
.button-proximo-formu-tea-um{
    /* border: solid khaki; */
    height: 30%;
    width: 50%;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buton-proximo-formulario-tea{
    background-color: #0D293F;
    color: #FFFEFE;
    width: 50%;
    height: 20%;
    border-radius: 10px;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    cursor: pointer;
}