.cadastro-dois-container-do-tea-dos {
    display: flex;
    height: 100vh;
    font-family: 'Inknut Antiqua', serif;
    justify-content: center;
  }
  
  .cadastro-dois-form-do-form-tea-dos {
    width: 50%;
    padding: 9%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
   
  }
  
  .cadastro-dois-form-do-form-tea-dos label {
    color: #B72E66;
    font-size: 16px;
    font-family: 'Inknut Antiqua', serif;
    
  }
  
  .cadastro-dois-form-do-form-tea-dos input {
    border: 2px solid #0D293F;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Inknut Antiqua', serif;

  }
  
  .btn-concluir-do-form-tea-dos {
    margin-top: 20px;
    padding: 12px 0;
    background-color: #710634;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Inknut Antiqua', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .imagem-formulario-cadastro-tea-um-dos {
    width: 50%;
    background-color: #0D293F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagem-formulario-cadastro-tea-um-dos img {
    max-width: 80%;
    height: auto;
  }
  
  .cadastro-dois-form-do-form-tea-dos select {
    border: 2px solid #0D293F;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    background-color: white;
    font-family: 'Inknut Antiqua', serif;
    
  }
  
  .ajustes-centralizar-formulario{
      height: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }