.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #f9f4ee;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 700px;
  max-height: 150%; /* Limita altura para não sair da tela */
  overflow: hidden; /* Esconde qualquer overflow fora do modal */
  position: relative;
}

.modal h2 {
  font-family: 'Inknut Antiqua', serif;
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #710634;
  padding-bottom: 8px;
  color: #0D293F;
}


.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  color: #710634;
  cursor: pointer;
}

.close-button:hover {
  color: #982F5C;
}

.modal-content {
  font-family: 'Inknut Antiqua', serif;
  font-size: 16px;
  color: #0D293F;
  overflow-y: auto; /* Scroll só dentro da área de conteúdo */
  max-height: 37vh; /* Espaço para título e botão */
  padding-right: 12px;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #710634 #f9f4ee; /* Firefox */
  padding-bottom: 40px; /* Adiciona espaço pro ícone de seta aparecer */
  position: relative;
}

/* Scrollbar para Chrome, Edge e Safari */
.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-track {
  background: #f9f4ee;
  border-radius: 8px;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #710634;
  border-radius: 8px;
  border: 2px solid #f9f4ee;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background-color: #982F5C;
}

.modal-content strong {
  color: #710634;
  font-weight: bold;
}

