.container_principal_editar_perfil{
    width: 100vw;
    height: 100vh;
}
.voltar_para_perfil{
    /* border: 2px solid; */
    width: 100%;
    height: 8%;
    /* background-color: #0D293F; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.botao-voltar-perfil-edit-interesse{
    /* border: 2px solid; */
    border-radius: 8px;
    width: 8%;
    height: 60%;
    color: rgb(243, 242, 242);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c88ac;
    margin: 3%;
    font-size: 110%;
}
.container_elements_edit_perfil{
    /* border: 2px solid; */
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element_um_edit{
    /* border: 2px solid; */
    width: 70%;
    height: 90%;
    display: flex;

}
.element_dois_foto_descricao{
    /* border: 2px solid #E8E8E8; */
    width: 50%;
    height: 100%; 
}
.element_tres_informacoes_alteradas{
    /* border: 2px solid #ccc; */
    width: 70%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.titulo_edit_perfil_interessado{
    /* border: 2px solid; */
    width: 100%;
    height: 10%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #710634;
}
.inputs_h2_edit_perfil_interesse{
    /* border: 2px solid; */
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.topicos_edit_perfil{
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 105%;
    color: #710634;
    padding-left: 2%;
}
.inputs_edit_perfil{
    width: 100%;
    height: 15%;
    border-radius: 6px;
    border: 2px solid #0D293F;
}
.botoes_edit_perfil_interesse{
    /* border: 2px solid; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.botao_salvar_alteracoes_edit{
    border: 2px solid;
    background-color: #0D293F;
    border-radius: 6px;
    color: white;
    width: 100%;
    height: 60%;
}
.edit_foto_interessado{
    /* border: 2px solid; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto_edit_perfil_interessado{
    width: 70%;
    height: 85%;
    border-radius: 0 0 0 60px;
}
.descricao_edit_perfil_interessado{
    /* border: 2px solid; */
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.titulo-descricao-perfil-interesse{
    font-size: 110%;
    color: #710634;
}
.textarea-descricao{
    border: 1px solid #ccc;
    width: 80%;
    height: 90%;
}

/* background-color: #832f52;
border-radius: 10px;
border: 2px solid;
/* width: 90%;
height: 55%; */ 