.container_principal_editar_perfil{
    width: 100vw;
    height: 100vh;
}
.voltar_para_perfil{
    /* border: 2px solid; */
    width: 100%;
    height: 8%;
    background-color: #0D293F;
}
.container_elements_edit_perfil{
    /* border: 2px solid; */
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element_um_edit{
    /* border: 2px solid; */
    width: 70%;
    height: 90%;
    display: flex;

}
.element_dois_foto_descricao{
    /* border: 2px solid #E8E8E8; */
    width: 50%;
    height: 100%; 
}
.element_tres_informacoes_alteradas{
    border: 2px solid #E8E8E8;
    width: 50%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo_edit_perfil_interessado{
    /* border: 2px solid; */
    width: 100%;
    height: 10%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0D293F;
}
.inputs_h2_edit_perfil_interesse{
    /* border: 2px solid; */
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.topicos_edit_perfil{
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
    color: #710634;
}
.inputs_edit_perfil{
    width: 100%;
    height: 8%;
    border-radius: 10px;
    border: 2px solid #0D293F;
}
.botoes_edit_perfil_interesse{
    /* border: 2px solid; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.botao_salvar_alteracoes_edit{
    background-color: #0D293F;
    /* border: 2px solid; */
    border-radius: 10px;
    color: white;
    width: 30%;
    height: 20%;
}
.edit_foto_interessado{
    /* border: 2px solid; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto_edit_perfil_interessado{
    width: 46%;
    height: 85%;
    border-radius: 0 0 0 60px;
}
.descricao_edit_perfil_interessado{
    /* border: 2px solid; */
    width: 100%;
    height: 40%;
}


/* background-color: #832f52;
border-radius: 10px;
border: 2px solid;
/* width: 90%;
height: 55%; */ 