.slider-item{


    height: 74vh;
    object-fit: cover;
    margin-top: 20px;

}
/* Estilo do swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  /* Estilo das imagens no swiper */
  .swiper-slide img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  /* Ajustes para imagens de diferentes resoluções e proporções */
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-next{

    color: #ffffff;
  }