.div-principal-ver-perfil{
    height: 100vh;
    /* border: solid gray; */
}
/*//////////"Navbar"/////////*/

.navbar-ver-perfil{
/* border: solid red; */
height: 19%;
background-color: #0D293F;
display: flex;
}

/*////////////////container-text e imagem do ver imagem////////////////////////*/
.container-text-input-perfil-ver{
border: solid orange;
width: 50%;
}
.container-imagem-ver-perfil{
border: solid green;
width: 50%;
}
.container-todos-ver-perfil{
    
/* border: solid purple; */
display: flex;
height: 81%;

}
/*//////////////////////////////////Nome pessoa //////////////////////////////////////////*/
.nome-pessoa-ver-perfil{
/* border: solid hotpink; */
height: 20%;
}
.nome-pessoa-ver-perfil input{    
    height: 100%;
    width: 100%;
    font-size: 30px;
    border: none;
}
.container-profissão-ver-perfil{
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o texto e o input */
    margin-bottom: 10px; /* Espaço entre linhas */
    /* border: solid bisque; */
    height: 18%;
}
.container-profissão-ver-perfil p{
    font-size: 20px;
}
.container-profissão-ver-perfil input{
height: 80%;
font-size: 18px;
border: none;
}
/*//////////////outra parte inputs////////////////////*/
.inputs-receber-perfil{

    border: solid salmon;
    height: 35%;
    width: 75%;
    margin-left: 19%;
}

/*////////////////Descrição perfil////////////////////*/
.input-descrição-ver-perfil{

border: solid palegreen;
height: 40%;
width: 70%;
margin-left: 19%;
display: flex;
align-items: center;
flex-direction: column;
}
.textinho-lindo{
    height: 100%;
    width: 100%;
}

/*//////////////contatos/////////////*/
.contato-linha {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o texto e o input */
    margin-bottom: 10px; /* Espaço entre linhas */
    /* border: solid bisque; */
    height: 18%;
}
  .contato-linha p {
    margin: 0;
    min-width: 75px; /* Largura mínima para alinhamento uniforme */
    font-size: 20px
  }
  .contato-linha input{

    width: 50%;
    height: 100%;
    border: none;
  }
  .informacoes-de-contato-ver{
    font-size: 23px;
  }
  
  /* botão voltar*/
  .button-voltar-verperfil{

    border: solid rebeccapurple;
    margin-left: 65%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*logo navbar*/
  .imagem-ajustar-ver-perfil{
    width: 12%;
    height: 100%;
    border: solid yellow;
    margin-left: 4%;
  }