body {
  margin: 0;
  font-family: "Inknut Antiqua", serif;
  background: linear-gradient(to right, #0D293F, #1C476A);
  color: #fff;
}

.chat-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #0D293F;
 
}

.chat-navbar img {
  height: 80px;
}

.chat-navbar .voltar {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.chat-navbar .voltar:hover {
  background-color: #710634;
}

.chat-sidebar {
  position: absolute;
  top: 100px;
  left: 0;
  width: 230px;
  height: calc(100% - 70px);
  background-color: #5C88AC;
  padding-top: 20px;
  overflow-y: auto;
}

.contact {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.contact:hover {
  background-color: #416b88;
}

.contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-body {
  margin-left: 230px;
  margin-top: 70px;
  padding: 20px;
  height: calc(100vh - 140px);
  overflow-y: auto;
  background-color: #f9f4ee;
  color: #710634;
}

.message {
  max-width: 60%;
  margin-bottom: 12px;
  padding: 10px 14px;
  border-radius: 14px;
  position: relative;
  box-shadow: #710634;
}

.sent {
  background-color: #ffffff;
  color: #710634;
  margin-left: auto;
  border-bottom-right-radius: 0;
  border-color: #710634;
  border-radius: 20px;
}

.received {
  background-color: #ffffff;
  color: #710634;
  margin-right: auto;
  border-bottom-left-radius: 0;
}

.message-attachment {
  max-width: 100%;
  margin-top: 8px;
  display: block;
}

.chat-input-container {
  display: flex;
  align-items: center;
  margin-left: 230px;
  padding: 10px 20px;
  background-color: white;
  border-top: 3px solid #710634;
  position: fixed;
  bottom: 0;
  width: calc(100% - 230px);
  box-sizing: border-box;
}

.chat-input {
  flex-grow: 1;
  resize: none;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #ffffff;
  font-family: inherit;
}

.chat-icon-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #0D293F;
  cursor: pointer;
  margin: 0 5px;
}

.emoji-picker-react {
  position: absolute;
  bottom: 70px;
  left: 250px;
  z-index: 999;
}

.typing-indicator {
  font-size: 14px;
  color: #710634;
  margin-top: 10px;
}