.chat-container {
  display: flex;
  height: 100vh;
  font-family: 'Inknut Antiqua', serif;
}

.sidebar {
  width: 230px;
  background-color: #5C88AC; /* azul lateral esquerda */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.user-profile {
  text-align: center;
  margin-bottom: 30px;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-bottom: 5px;
  object-fit: cover;
}

.user-name {
  font-size: 14px;
}

.status {
  font-size: 12px;
  color: #D9EAF5;
}

.contact-buttons .contact {
  width: 80%;
  height: 25px;
  background-color: #33658A;
  border
}